<div class="single-slidebar">
	<h4>Platforma Göre İş Sayısı</h4>
	<ul class="cat-list">
		<li><a class="justify-content-between d-flex"><p>C</p><span>@ViewBag.v1</span></a></li>
		<li><a class="justify-content-between d-flex"><p>C++</p><span>@ViewBag.v2</span></a></li>
		<li><a class="justify-content-between d-flex"><p>C#</p><span>@ViewBag.v3</span></a></li>
		<li><a class="justify-content-between d-flex"><p>Java</p><span>@ViewBag.v4</span></a></li>
		<li><a class="justify-content-between d-flex"><p>Python</p><span>@ViewBag.v5</span></a></li>
	</ul>
</div>
