@using EntityLayer.Concrete
@model List<Offer>
@{
    ViewData["Title"] = "ReceiverOfferList";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}

@{
    string color = "";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Verilen İşler Tablosu</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>İş Adı</th>
                            <th>Teklif Sahibi</th>
                            <th>Teklif Açıklaması</th>
                            <th>Teklif Tarihi</th>
                            <th>Bitiş Tarihi</th>
                            <th>Ücret</th>
                            <th>Onayla</th>
                            <th>Reddet</th>                                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Status)
                            {
                                color = "badge badge-outline-success";
                            }
                            if (!item.Status)
                            {
                                color = "badge badge-outline-warning";
                            }

                            <tr>
                                <td>@item.JobName</td>
                                <td>@item.WorkerUserName</td>
                                <td>@item.Description</td>
                                <td>@(((DateTime)item.OfferDate).ToString("dd-MMM-yyyy"))</td>
                                <td>@(((DateTime)item.FinishDate).ToString("dd-MMM-yyyy"))</td>
                                <td>@item.Price ₺</td>
                                <td>
                                    <a href="/Employer/OfferFollow/RejectOffer/@item.OfferId/">
                                        <button class="btn btn-outline-success">Onayla</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="/Employer/OfferFollow/RejectOffer/@item.OfferId/">
                                        <button class="btn btn-outline-danger">Reddet</button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

