<div class="single-slidebar">
	<h4>Kategoriye Göre İş Sayısı</h4>
	<ul class="cat-list">
		<li><a class="justify-content-between d-flex"><p>Yazılım Test</p><span>@ViewBag.v1</span></a></li>
		<li><a class="justify-content-between d-flex"><p>Web Geliştirme</p><span>@ViewBag.v2</span></a></li>
		<li><a class="justify-content-between d-flex"><p>Mobil Geliştirme</p><span>@ViewBag.v3</span></a></li>
		<li><a class="justify-content-between d-flex"><p>Oyun Geliştirme</p><span>@ViewBag.v4</span></a></li>
		<li><a class="justify-content-between d-flex"><p>Veri Analistliği</p><span>@ViewBag.v5</span></a></li>
		<li><a class="justify-content-between d-flex"><p>Yapay Zeka</p><span>@ViewBag.v6</span></a></li>
	</ul>
</div>
